<launch>

    <node pkg="hybrid_a_star" type="m_path_opt" name="m_path_opt" output="screen">
        <param name="planner/steering_angle" value="15.0"/>
        <param name="planner/steering_angle_discrete_num" value="1"/>
        <param name="planner/wheel_base" value="1.0"/>
        <param name="planner/segment_length" value="1.6"/>
        <param name="planner/segment_length_discrete_num" value="8"/>
        <param name="planner/steering_penalty" value="1.5"/>
        <param name="planner/reversing_penalty" value="2.0"/>
        <param name="planner/steering_change_penalty" value="2.0"/>
        <param name="planner/shot_distance" value="100.0"/>

        <!-- use or not use reference path cost -->
        <!-- <param name="planner/w_ref" value="0.03"/> -->
        <param name="planner/w_ref" value="0.0"/>

        <!-- use dubins or rs , dubins:0, rs:1 -->
        <param name="planner/use_dubins_or_rs" value="0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hybrid_a_star)/rviz/m_random_path.rviz"/>

    <node pkg="hybrid_a_star" type="map_random_m" name="map_random_m" output="screen"/>



</launch>
